/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul {
    list-style: none;
  }

/* general */
body {
    font-family: "Poppins", sans-serif;
}
:root {
	--color-black: #000000;
	--color-dark-gray: #222222;
	--color-light-gray: #4a4a4a;
	--color-white: #ffffff;
	--color-red: #d62013;
}
#app {
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-white);
}

/* top bar */
#topbar {
    width: 100%;
    height: 50px;
    position: relative;
}
#topbar span {
    background-color: var(--color-light-gray);
    font-size: small;
    padding: 3px 5px;
    border-radius: 5px;
}
#topbar div {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* users zone */
#users-zone {
    height: calc(100% - 130px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 2% 5%;
    gap: 5px;
    row-gap: 15px;
}
#users-zone:-webkit-scrollbar {
    display: none;
}
.user-box {
    width: calc(100% / 7 - 5px);
    min-width: 200px;
    position: relative;
}
.user-box img {
    display: block;
    width: 100%;
    max-height: 140px;
}
.user-box span {
    background-color: rgba(66, 66, 66, 0.753);
    font-size: small;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* toolbar */
#toolbar {
    height: 80px;
    background-color: var(--color-dark-gray);
}

/* flex utility */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.ac-start {
    align-content: flex-start;
}