/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul {
    list-style: none;
  }

/* general */
body {
    font-family: "Poppins", sans-serif;
}
:root {
	--color-black: #000000;
	--color-dark-gray: #222222;
	--color-light-gray: #4a4a4a;
	--color-white: #ffffff;
	--color-red: #d62013;
}
#app {
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-white);
}

/* top bar */
#topbar {
    width: 100%;
    height: 50px;
    position: relative;
}

/* users zone */
#users-zone {
    height: calc(100% - 130px);
    overflow-y: auto;
    gap: 15px;
}
.user-box {
    width: calc(100% / 7 - 15px);
    aspect-ratio: 16 / 9;
}

/* toolbar */
#toolbar {
    height: 80px;
    background-color: var(--color-dark-gray);
}

/* flex utility */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.ac-start {
    align-content: flex-start;
}