/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
    color: var(--color-white);
    text-decoration: none;
}

/* general */
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --color-black: #000000;
  --color-dark-gray: #222222;
  --color-light-gray: #4a4a4a;
  --color-white: #ffffff;
  --color-red: #d62013;
  --color-green: #4cc800;
}
#app {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
}
.underline:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

/* top bar */
#topbar {
  width: 100%;
  height: 50px;
  position: relative;
}
#topbar span {
  background-color: var(--color-light-gray);
  font-size: small;
  padding: 3px 5px;
  border-radius: 5px;
}
#topbar div {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* users zone */
#users-zone {
  height: calc(100% - 130px - 20px);
  margin-bottom: 20px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 2% 5%;
  gap: 5px;
  row-gap: 15px;
}
#users-zone:-webkit-scrollbar {
  display: none;
}
.user-box {
  width: calc(100% / 7 - 5px);
  min-width: 200px;
  position: relative;
}
.user-box img {
  display: block;
  width: 100%;
  max-height: 140px;
}
.user-box span {
  background-color: rgba(66, 66, 66, 0.753);
  font-size: small;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* toolbar */
#toolbar {
  height: 80px;
  background-color: var(--color-dark-gray);
  font-size: small;
}
#toolbar div > div {
  padding: 0 5px;
}
#toolbar > div:last-child {
  background-color: var(--color-light-gray);
  font-weight: bold;
  padding: 0 15px;
}
#toolbar > div:last-child a {
    color: var(--color-red);
}
.fa-share-from-square {
  color: var(--color-green);
}

/* text utility */
.fontsize-30 {
  font-size: 30px;
}

/* flex utility */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.fd-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.s-between {
  justify-content: space-between;
}
.ac-start {
  align-content: flex-start;
}
